@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url('../public/ukraine-bd-lg.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
}
