@tailwind base;
@tailwind components;
@tailwind utilities;

.background {
    background-image: url('../public/ukraine-bd-lg.jpg');
    @apply bg-cover bg-black bg-no-repeat bg-center
}

[data-language-switcher][data-is-current='true'] {
    text-decoration: underline
}

h2 {
    @apply text-5xl font-bold mb-3 text-center
}

.top-text {
    @apply text-left
}

.top-text ul {
    @apply list-disc pl-5
}

h3 {
    @apply text-4xl font-bold mb-6 mt-24 text-center
}

img.logo {
    height: 66px;
    width: 100px;
}

nav.header {
    @apply max-w-5xl mx-auto flex flex-row flex-wrap justify-between items-center p-4 lg:py-6 lg:flex-nowrap
}

@media screen(lg) {
    img.logo {
        height: 132px;
        width: 200px;
    }
}
